* {
  box-sizing: border-box;

}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto 0;


}
.nav a {
  list-style-type: none;
  color: white;
  background-color: black;
}
