//Placeholder selectors to be extended in other rules
//text
%blockquote-text {
  font-family: $font-family--primary;
  font-size: em(24px);
  font-weight: $font-weight--medium;
  color: palette(grey, light);
  font-style: italic;
  line-height: (32px/24px);
  letter-spacing: (24px/32px);
}
//links

%link {
  text-decoration: none;
  color: $color-secondary;
  font-weight: $font-weight--medium;

  &:hover {
    opacity: 0.75;
  }
}
//images
%img-frame {
  margin-bottom: em(40px);
  outline: 0.2px solid lightgrey;
  outline-offset: 10px;
}
// Headlines

%hdln-prim {
  color: $color-primary;
  font-weight: $font-weight--bold;
  font-size: em(32px);
  line-height: (34px/32px);
}

%hdln-sec {
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--light;
  font-size: em(16px);
  font-family: $font-family--secondary;
}
//nav items
%nav-item-disp {
  margin-top: em(2px);
  margin-bottom: em(2px);
}

%nav-item-link {
  display: inline-block;
  color: $grey;
  text-decoration: none;
  font-weight: $font-weight--medium;
  font-size: em(18px);
  margin-top: em(20px);
}

%nav-item-on {
  &:hover {
    background-color: $color-primary;
    padding: em(15px) em(130px);
    color: $white;
    border-radius: $br--default;
    align-self:center;
  }
}
//clearfix
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// Screen reader text
%srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
// Center alignment
%center-align {
  text-align: center;
}

%left-align {
  text-align: left;
}
// For pseudo-elements
%pseudos {
  display: block;
  content: '';
  position: absolute;
}
//Buttons
%btn {
  width:100%;
  padding: em(20px);
  margin: em(20px) 0;
  border: 0;
  border-radius: $br--default;
  color: $white;
  text-transform: uppercase;
  font-size: em(14px);
  font-weight: $font-weight--bold;
  transition: opacity $trns-duration;
  text-align: center;
  &:hover {
    opacity: 0.75;
  }
  &:active {
    opacity: initial;
  }
}
%grid-system {
  padding: em(15px);
  margin: em(20px) 5px;
  border: 0;
  border-radius: $br--default;
  font-size: em(16px);
  font-weight: $font-weight--bold;
  text-align: left;

}

// Center elements
%centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
//Form elements
%form-input {
  width: 100%;
  font-size: em(16px);
  font-weight: $font-weight--bold;
  color: palette(grey, x-light);
  margin-bottom: em(20px, 18px);
  padding: em(10px, 14px);
  border-style: none;
  border-bottom: 5px solid $color-primary;
}
