//Placeholder selectors to be extended in other rules


//text
%blockquote-text {
  font-size: em(24px);
  font-weight: $font-weight--medium;
  color: palette(grey, light);
  font-style: italic;

}
//links

%link {
  text-decoration: none;
  color: $color-secondary;
  font-weight: $font-weight--medium;
}

//images

// Headlines

%hdln-prim {
  color: $color-primary;
  font-weight: $font-weight--bold;
  font-size: em(34px);
  line-height: (46px/42px);


}

%hdln-sec {
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--light;
  font-size: em(16px);
  font-family: $font-family--secondary;
}


//nav items
%nav-item-disp {

  margin-top: em(20px);
  margin-bottom: em(30px);

}
%nav-item-link {

  display: inline-block;
  margin: 0 em(12px);
	color: $grey;
  text-decoration: none;
	font-weight: $font-weight--medium;
	font-size: em(18px);
  margin-top: 0 em(20px);

}
%nav-item-on {
  background-color: $color-primary;

}

//clearfix

%clearfix {
  &:after {
    content:"";
    display: table;
    clear:both;
  }
}

// Screen reader text

.srt {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Center alignment

%center-align {
	text-align: center;
}
%left-align {
  text-align: left;
}

// For pseudo-elements

%pseudos {
  display: block;
  content: '';
  position: absolute;
}

// Center elements

%centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
