.btn {
  @include bg-colors($ui-colors){
  }



}
[class^="btn--"] {
  @extend %btn;
  text-align: center;



    @include mq(medium) {
      width:auto;
      display: inline-block;
      @include doubly(20px);
      padding: em(15px) em(50px);
    }
    .form & {
      width:100%;
    }

}
