 .form {

    @include e(label) {
      @include m(hidden) {
        @extend %srt;
    }
    display: block;
  


    }
    @include e(input) {
      @extend %form-input;

      &:focus {
        outline:none;
        background-color: $color-primary;
      }
    }
 }
