 .container {
   @extend %clearfix;
   @extend %centered;
   width: 90%;

   //Make nested grid to be 100%
   //targets .container that is inside a grid__col-- and makes it 100%

   [class*="grid__col--"] > & {
     width: 100%;
   }

   //Set a max-width for the grid container

   @include mq(large) {
     max-width: $g-cont-max-w;
   }
 }
.grid__col {
    @include grid-colors($grid-colors);

}

.theme__colors{
  @extend %grid-system;

    @include mq(medium){
      text-align:center;
    }
  }


.grid__row{
    padding-bottom: 50px;

    @include mq(medium){
      @include flex(flex,row);
    }
  }

// ==========================================================================
// Grid Columns
// ==========================================================================


// Calculate grid columns
.grid__col{
  @include mq(medium) {
    @include g-columns;
    }
    @include mq(medium) {
      @include doubly(percentage($g-gutter-width / $context));
      float:left;
      padding: 10px,20px;
      margin-left: 2%;
      padding-right: 10px;
      &:last-of-type {
        float:right;
      }
     }
}


.centered.grid__col--7 {
  @extend %centered;
}
