.img--logo {
  margin-bottom: 2em;
  @include img-replace("logo.png", 162px, 82px, inline-block);

}
.img--frame {
  @extend %img-frame;
}
.img--avatar {
  margin-left: em(30px);
  padding-bottom: em(20px);
}
