// ==========================================================================
// Nav
// ==========================================================================

.nav__item {
  @extend %nav-item-disp;

  a {
    @extend %nav-item-link;
    @extend %nav-item-on;
    @include mq(medium){
      padding: em(15px) em(10px);


    }

  }
  @include mq(medium){
    display:inline-block;
    padding-right: 20px;

  }
 }
