.container {
  margin: 0 auto;
  @extend %center-align;
}

.link {
  @extend %link;
}

.blockquote {
  @extend %blockquote-text;
  @extend %left-align;
  border-left: solid $color-primary 8px;
  border-radius: 5px;
  padding: 0 10px;
}

.headline {
  &--primary {
    @extend %hdln-prim;
    @extend %left-align;
    margin: em(10px, 34px);
  }

  &--secondary {
    @extend %hdln-sec;
    @extend %left-align;
    margin-bottom: em(42px, 14px);
    margin-top: em(50px, 14px);
  }
}
